<div
  class="fixed top-8 left-0 right-0 max-sm:max-w-[330px] max-w-[400px] p-2 mx-auto rounded-full shadow bg-slate-950 bg-opacity-40 backdrop-blur-sm z-10"
>
  <nav class="py-1 border-[1px] rounded-full mx-auto border-slate-500">
    <ul
      class="flex text-sm md:text-base items-enter font-bold text-white justify-around bg-yellow-100 bg-clip-text text-opacity-0"
    >
      <li class="cursor-pointer hover:text-slate-200">
        <a href="/">Home</a>
      </li>
      <li class="cursor-pointer hover:text-slate-200">
        <a href="/proyectos">Proyectos</a>
      </li>
      <li class="cursor-pointer hover:text-slate-200">
        <a href="/contact">Contacto</a>
      </li>
    </ul>
  </nav>
</div>
