---
import Layout from "../../layouts/Layout.astro";
import BentoGridDemo from "../../components/BentoGridDemo.astro";
---

<Layout title="Proyectos">
  <section class="mx-auto w-11/12">
    <h3
      style={`view-transition-name: title`}
      class="text-center text-3xl font-bold"
    >
      Proyectos
    </h3>
    <div style={`view-transition-name: form`}>
      <BentoGridDemo />
    </div>
  </section>
</Layout>
